html, 
body,
p {
    margin: 0;
    padding: 0;
    min-width: 340px;
    font-family: 'Roboto', Arial;
    line-height: 150%;
}

.header-container,
.left-header,
.right-header {
    display: flex;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0.5em;
}

.left-header {
    align-items: center;
    width: 100%;
}

.journal-icon {
    height: 1.4475em;
}

.header-title {
    font-size: 1rem;
    margin-right: 1em;
    min-width: 150px;
}

.right-header {
    width: 100%;
    justify-content: end;
}

.about-me {
    margin-left: 2em;
}

.home,
.about-me {
    cursor: pointer;
}

.intro-container {
    display: flex;
    flex-direction: column;
    background-image: url("/images/alexandru-acea-XEB8y0nRRP4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    color: black;
}

.date {
    margin-top: 1em;
    font-size: 0.55rem;
    margin-bottom: 1.5em;
}

.intro-title {
    font-weight: 900;
    font-size: 1.15rem;
    margin-bottom: 1em;
    cursor: pointer;
    color: darkmagenta;
}

.blog-grid {
    display: grid;
    margin: 0.5em;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    /* grid-template-columns: 1fr;
       grid-template-areas: 
        "blog-img"
        "blog-date"
        "blog-num"
        "blog-par"; */
    
}

.blog-img {
    grid-area: blog-img;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.blog-date {
    grid-area: blog-date;
    font-weight: 400;
    font-size: 0.885625rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.blog-num {
    grid-area: blog-num;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: .75rem;
}

.blog-par {
    grid-area: blog-par;
    font-size: 1rem;
    font-weight: 400;
}

footer {
    background-color: #202020;
    color: #ECECEC;
    text-align: center;
    padding: 2em 0;
    font-size: .8rem;
    margin-top: 3em;
}

@media (min-width: 500px) {
    .blog-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
    }

    .intro-container {
        width: 100%;
    }
}

/* about me section */

.about-me-main {
    margin: 1em;
    display: none;
}

.profile-icon {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 3em;
}

.about-me-intro {
    font-size: 1.5rem;
    font-weight: 700;
}

.recent-blog-posts {
    margin-top: 5em;
}

.recent-title {
    font-weight: 500;
    text-align: center;
}

@media (min-width: 600px) {
    .about-me-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .profile-icon {
        margin-right: 1.75em;
    }

    .intro-to-scrimba-container {
        text-align: center;
    }
}

/* main article section */

.main-article {
    display: none;
}

.main-article-img {
    height: 300px;
}

@media (min-width: 600px) {
    .main-article {
        text-align: center;
    }

    .main-article-img {
        object-fit: cover;
        width: 100%;
    }

    .main-article .date {
        font-size: 1rem;
    }

    .main-article .intro-title {
        font-size: 2rem;
    }
}